.productCard .textPart {
  transition: transform 0.3s ease-out;
}

.productCard:hover .textPart {
  transform: translateY(-1rem) scale(1.05);
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); */
}




.imagePart {
  transition: transform 0.1s ease-out;
}

.imagePart:hover {
  transform: scale(1.05);
}

